.content {
  margin-top: 50px;
}

.heading {
  font-size: 10vw;
}

.lead {
  display: inline-block;
  margin-right: 20px;
  font-size: 3vw;
}

.signUpButton {
  display: inline-block;
  padding: 1vw 2vw;
  border: 0;
  font-size: 2vw;

  background-color: #4B9DA3;
  color: #f3f3f3;

  cursor: pointer;
  border-radius: 2px;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 25px -5px rgba(0,0,0,0.5);
}


/* =============================================================================
  An example of how stylize the tabs
============================================================================= */

.tabs-menu {
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-menu-item {
  float: left;
  margin-right: 20px;
}

.tabs-menu-item a {
  cursor: pointer;
  display: block;
  color: #A9A9A9;
}

.tabs-menu-item:not(.is-active) a:hover,
.tabs-menu-item.is-active a {
  color: #3498DB;
}

.tab-panel {
  padding: 10px 50px;
}

.tabs {
  margin-top: -50px;
}

.tabs-navigation {
  padding: 0 50px;
}

.tabs-navigation {
  padding: 0 20px;
  max-height: 50px;
  border-bottom: 1px solid #DDD;
}

.tabs-menu {
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-menu-item {
  float: left;
}

.tabs-menu-item a {
  display: block;
  padding: 0 40px;
  height: 50px;
  line-height: 50px;
  border-bottom: 0;
  color: #A9A9A9;
}

.tabs-menu-item:not(.is-active) a:hover {
  color: #3498db;
}

.tabs-menu-item.is-active a {
  background: #fff;
  border: 1px solid #DDD;
  border-top: 2px solid #3498db;
  border-bottom: 0;
  color: #333;
}
